footer {
	color: $slate;
	background: transparent;
	padding: 0;

	.footer-wrapper {
		padding: 40px 0;
		border-top: 1px solid $slate;
	}
	

	p {
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;

		a {
			color: $slate;

			&:hover {
				text-decoration: underline;
			}
		}

	}

}