header {

	.header-wrapper {
		border-color: #E5E5E5;
		border-width: 1px;
		border-bottom: none;
		padding: 50px 0;
	}

	.info {
		padding: 0;

		h3 {
			font-family: $jenson;
			font-weight: normal;
			text-transform: none;
			color: $gold;

			a {
				color: $gold;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.logo {
		padding: 0 0 50px 0;

		@include tablet-landscape {
			padding: 0;
		}

		.image {
			img {
				max-width: 240px;

				@include tablet-portrait {
					max-width: 301px;
				}
				
			}
		}
	}

	.logo + .info {
		padding: 10px 0 0 0;

		@include mobile-landscape {
			padding: 0;
		}
	}

}

nav.desktop {

	a {
		color: $brick;
	}
}

nav.mobile {

	a {
		color: $gold;
	}
}


section.call-to-actions {
	display: none !important;
}


#toggle {

	.patty {
	    background: $gold;

		&:after, &:before {
		    background: $gold;
		}

	}
}


nav .social a {
	background: none !important;
	width: 16px !important;
	height: 16px !important;
}