body.home {

	section#announcement {
		padding: 0 0 20px 0;
	
		.wrapper {
			padding: 0;
		}

		.announcement-wrapper {
			background: $rust;
			color: $white;
			padding: 14px 10px 10px 10px;
			text-align: center;

			p {
				font-family: $jenson;
				line-height: 1.5em;
				font-size: 1.25em;
				font-weight: bold;

				a {
					color: $white;
					text-decoration: underline;
				}
			}
		}
	}

	section#hero {

		.about-statement {
			text-align: center;
			border-bottom: 1px solid #E5E5E5;
			padding: 50px 0;

			@include tablet-portrait {
				padding: 75px 0;
			}


			p {
				color: $rust;
				font-size: 1.375em;
				line-height: 1.5em;
				font-family: $jenson;

				@include tablet-portrait {
					font-size: 1.75em;
				}


				& + p {
					padding: 50px 0 0 0;
				}
			}

		}

	}

	section#wholesale {

		.wholesale-wrapper {
			border-bottom: 1px solid #E5E5E5;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 50px 0;

			@include tablet-portrait {
				padding: 75px 0;
			}


			.info {
				padding: 0 0 50px 0;

				h4 {
					font-family: $jenson;
					color: $rust;
					font-size: 2em;
					padding: 40px 0 15px 0;
				}

				p {
					@include paragraph;

					& + p {
						padding: 20px 0 0 0;
					}
				}

				a {
					color: $slate;
					text-decoration: underline;
				}

			}


			@include tablet-portrait {
				.info {
					width: 50%;
					padding: 0 80px 0 0;
				}

				.photo {
					width: 50%;
				}
			}
		}

	}


	section#gallery {


		.gallery-wrapper {
			padding: 50px 0 40px 0;

			@include tablet-portrait {
				padding: 75px 0 57px 0;
			}

		}

		#gallery-1 {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.gallery-item {
				float: none;
				margin: 0;
				padding: 0 0 3% 0;
				width: 48.5%;

				@include tablet-portrait {
					width: 32.3333%;
					padding: 0 0 18px 0;
				}
			}
			br {
				display: none !important;
			}

			img {
				border: none;
				height: auto !important;
				width: auto !important;
			}
		}


	}


	section#menu {

		.menu-wrapper {
			background: #F2F2F2;
			padding: 40px;

			@include tablet-portrait {
				padding: 60px;
			}
		}

		.menu-section + .menu-section {
			padding-top: 20px;
		}

		p {
			@include paragraph;
			padding: 0 0 40px 0;

		}

		a.btn {
			background: $gold;
			color: $white;
			border: 2px solid $gold;
			padding: 12px 26px;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 0.875em;

			&:hover {
				background: $white;
				border: 2px dashed $gold;
				color: $gold;
			}
		}

		.menu.desktop {
			display: none;

			@include tablet-portrait {
				display: block;
			}
		}

		.menu.mobile {
			display: block;

			@include tablet-portrait {
				display: none;
			}
		}


	}


	section#find-us {

		.find-us-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 50px 0;

			@include tablet-portrait {
				padding: 75px 0;
			}

			.info {
				padding: 0 0 25px 0;

				h4 {
					font-family: $jenson;
					font-size: 2em;
					padding: 40px 0 15px 0;
				}

				p {
					@include paragraph;

					& + p {
						padding: 20px 0 0 0;
					}
				}

				a {
					color: $slate;
					text-decoration: underline;
				}

			}

			.list {
				column-count: 1;
				column-gap: 20px;

				@include mobile-landscape {
					column-count: 2;
				}

				p {
					@include paragraph;
					line-height: 1.125em;
					padding: 20px 0 0 0;

					@include tablet-portrait {
						padding: 20px 0 0 0;
					}

				}
			}


			@include tablet-portrait {
				.info {
					width: 50%;
					padding: 0 80px 0 0;
				}

				.list {
					width: 50%;
				}
			}
		}

	}


}