body.page-template-landing-page {

	section#page {
		.photo {
			width: 100%;
			height: 100vh;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.info {
			position: absolute;
			top: 0;
			left:  0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100vh;
			z-index: 5;
			display: flex;
			justify-content: center;
			padding-top: 25px;

			@include tablet-portrait {
				padding-top: 50px;
			}


			.info-wrapper {
				max-width: 920px;
				padding: 25px;
			}

			.logo {
				max-width: 300px;
				margin: 0 auto;

				@include tablet-portrait {
					max-width: 500px;
				}

				img {
					width: 100%;
				}
			}

			.copy {
				text-align: center;
				padding-top: 25px;

				@include tablet-portrait {
					padding-top: 50px;
				}

				p {
					font-family: $jenson;
					font-size: 1.25em;
					line-height: 1.5em;
					font-weight: bold;
					color: #F0EEE8;
					text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

					@include tablet-portrait {
						font-size: 1.75em;
						line-height: 1.5em;
					}
				}
			}
		}
	}
}