body.page-template-default {

	section.standard {
		padding: 40px 0;

		@include tablet-portrait {
			padding: 80px 0;
		}

		.wrapper {
			max-width: 960px;
		}

		.section-header {
			padding: 0 0 40px 0;

			h1 {
				font-family: $schoolbook;
				font-weight: normal;
				font-size: 3em;
				border-bottom: 4px solid;
				padding: 0 0 5px 0;
				display: inline-block;
			}
		}

		.section-body {

			h3 {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.8125em;
				padding: 0 0 10px 0;
			}

			p {
				font-family: $schoolbook;
				font-weight: 100;
				font-size: 1.75em;
				padding: 0 0 40px 0;
			}
		}


	}


	

}

