body {
	background: $white url(images/grid-bg.png) repeat 0 0;

	.jp-carousel-info {
		display: none;
	}

	.jp-carousel-overlay {
		opacity: 0.98 !important;
	}

	.jp-carousel-close-hint span {
		font-size: 48px !important;
		height: 48px;
	}

}

