body, input, textarea {
	color: $slate;
	font: 400 100%/1 $open-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $open-sans;
	font-weight: bold;
}

a {
	color: $gold;
	transition: all 0.2s ease-in-out;
}

h2.section-header {
	text-transform: uppercase;
	color: $brick;
	font-size: 1.75em;
	letter-spacing: 0.1em;
	padding: 0 0 20px 0;

	@include tablet-portrait {
		font-size: 2.25em;
	}
}
