/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #eee;
$charcoal: #4a4a4a;
$slate: #2a2a2a;
$black: #000;

$gold: #C39B68;
$rust: #A3623A;
$brick: #9E665E;


$cream: #FDFEFC;
$coral: #C76356;
$teal: #5C9598;
$green: #7ca669;
$blue: #345a6f;



/* Typography
----------------------------------*/
$open-sans: 'Open Sans', sans-serif;
$schoolbook: "schoolbook", serif;
$jenson: "adobe-jenson-pro", serif;